
*.log
*.tmp
*.swp

*.exe
*.out
*.o

local/data/
vm/node1/data/
vm/node2/data/
vm/node3/data/

*.env

.dockerignore
docker-compose.override.yml
**/.env

.DS_Store
Thumbs.db

.vscode/
.idea/
*.code-workspace

*.test.*
coverage/
.nyc_output/
